/* 幅 Width */

.w100 {
	width: 100%;
}

.w50 {
	width: 50%;
}

.w-max768 {
	max-width: 768px;
	margin: 0 auto;
}

.w-max1250 {
	max-width: 1250px;
	margin: 0 auto;
}

.fit-content {
	width: fit-content;
	max-width: 100%;
}

/* メディアクエリで非表示 */
@media screen and (max-width: 768px) {
	.hide-max768 {
		display: none !important;
	}
}

@media screen and (max-width: 1250px) {
	.hide-max1250 {
		display: none !important;
	}
}

/* メディアクエリで表示 */
@media screen and (min-width: 768px) {
	.hide-min768 {
		display: none !important;
	}
}

@media screen and (min-width: 1250px) {
	.hide-min1250 {
		display: none !important;
	}
}