/* コンテンツの配置 Content Alignment */
.content-right {
  width: fit-content;
  max-width: 100%;
  margin: 0 0 0 auto;
}

.content-center {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
}

.content-left {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto 0 0;
}

/* テキストの配置 Text Alignment */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}