:root {
	/* フォントの種類 */
	--normal-font-family: "Noto Sans JP", "Yu Gothic Medium", "YuGothic",
		"ヒラギノ角ゴシック", "system-ui";

	/* 色 */

	/* main,subはブランドカラーなどに変えて構えいません。 */
	--main-color: #b8fb97;
	--sub-color: #4d663e;

	--dark-color: #222;

	--gray-color-100: #333;
	--gray-color-200: #444;
	--gray-color-300: #555;
	--gray-color-400: #eceff1;
	--gray-color-500: #e5e7eb;
	--white-color: #fff;

	/* 情報色(Background) */
	--info-color: #358cd3;
	--success-color: #3c883e;
	--warning-color: #ed9209;
	--error-color: #c03127;

	/* リンク色 */
	--link-color: #1570d4;
	--link-color-active: #7d7d7d96;
	--link-color-visited: #a15ccc;

	/*大きさ(上から小さい順)*/
	--font-size-13px: 13px;
	--font-size-15px: 15px;
	--small-font-size: clamp(15px, 1.95vw, 17px);
	--standard-font-size: clamp(16px, 2.08vw, 18px);
	--small-medium-font-size: clamp(20px, 2.604vw, 25px);
	--medium-font-size: clamp(23px, 2.99vw, 30px);
	--large-font-size: clamp(30px, 3.89vw, 40px);

	/* シャドウ */
	--soft-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.3),
		-1px -3px 5px -3px rgba(0, 0, 0, 0.25);
	--standard-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.3);
}